<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SteamDeck</title>
        <link rel="stylesheet" href="static\style.css">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
       </head>
       <div class="login-txt"></div>
    <title>Error</title>
</head>
<body>
    <div class="error">
        <h2>Your profile is private</h2>
        <h3>This application can't be used on private profiles</h3>
        <h4>Use a different account</h4>
        <a href="/auth/steam" class="steam-login-button">
            <img src="static/logo.png" alt="Login with Steam">
        </a>
    </div>
</body>
</html>
