<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>SteamDeck</title>
    <link rel="stylesheet" href="static\style.css">
    <!-- Boxicons voor iconen -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-steam' ></i>
        <div class="logo_name">Steam</div>
        <i class='bx bx-menu' id="btn" ></i>
        <div class="friends-toggle">⮞</div>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" id="search" placeholder="Search by title">
          <div class="overlay" id="overlay">
            <div class="overlay-content" id="overlay-content">
                <!--hier komen plaatjes-->
            </div>
        </div>
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="library">
         <i class='bx bx-library' ></i>
         <span class="links_name">Games</span>
       </a>
       <span class="tooltip">Ganes</span>
     </li>
     <li>
       <a href="sales">
         <i class='bx bxs-discount'></i>
         <span class="links_name">Sales</span>
       </a>
       <span class="tooltip">Sales</span>
       <li class="profile">
        <div class="profile-details">
            <!-- Dynamic Profile Image -->
            <img src="{{ session['user_info'].get('avatar', 'static/profile.jpg') }}" alt="Profile Image">
            <div class="name_job">
                <!-- Dynamic Username -->
                <div class="name">{{ session['user_info'].get('personaname', 'Myguy24') }}</div>
                <div class="job">Online</div>
            </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
    </li>    
    </ul>
    </div>

    <section class="game-section">
      <!-- News Section -->
      <div class="text">Latest News</div>
      <div class="news-grid">
          <article class="news-item">
              <h3>Kut nieuws</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
          <article class="news-item">
              <h3>Nog meer kut nieuws</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
          <article class="news-item">
            <h3>Nog meer kut nieuws</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        <article class="news-item">
          <h3>Nog meer kut nieuws</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </article>
      </div>
  
      <!-- Game Information Section -->
      <div class="game-tab">
          <div class="game-tab-text">
              <h4>Game title</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="game-tab-achievements">
              <h4>Achievements</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="game-tab-requirements">
              <h4>Requirements</h4>
              <p>OS: Windows 10 or later (64-Bit)<br>
              Processor: i5-3570K 3.4 GHz 4 Core<br>
              Memory: 16 GB RAM<br>
              Graphics: GeForce GTX 1050 (2GB)<br>
              DirectX: Version 11</p>
          </div>
      </div>
  
      <!-- Screenshots Section -->
      <div class="game-screenshots">
          <div class="text">Screenshots</div>
          <div class="screenshots-grid">
              <div class="screenshot-item">
                  <img src="https://www.datocms-assets.com/56706/1701878796-gta-6.png?auto=format&fit=max&w=1200" alt="Screenshot 1">
                  <div class="screenshot-description">image desc.</div>
              </div>
              <div class="screenshot-item">
                  <img src="https://www.datocms-assets.com/56706/1701878796-gta-6.png?auto=format&fit=max&w=1200" alt="Screenshot 2">
                  <div class="screenshot-description">image desc.</div>
              </div>
          </div>
      </div>
  </section>
  
    
      

    <script> //sidebar functie met anim
        let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
  
    closeBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("open");
      menuBtnChange();
    });
  
    searchBtn.addEventListener("click", ()=>{ 
      sidebar.classList.toggle("open");
      menuBtnChange(); 
    });
  
   
    function menuBtnChange() {
     if(sidebar.classList.contains("open")){
       closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
     }else {
       closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//
     }
    }
    </script>
    <script src="/static/togglemenu.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
          $(document).ready(function(){
              $('#search').on('input', function(){
                  let query = $(this).val().trim(); // Trim leading/trailing spaces
                  
                  if (query !== '') {
                      $.ajax({
                          type: 'POST',
                          url: '/search',
                          data: {'search': query},
                          success: function(response) {
                              $('#overlay').show();
                              $('#overlay-content').html(response);
                          }
                      });
                  } else {
                      $('#overlay').hide(); // Hide the overlay when query is empty
                  }
              });
          });
      </script>
      
  