<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>SteamDeck</title>
    <link rel="stylesheet" href="..\static\style.css">
    <!-- Boxicons voor iconen -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-steam' ></i>
        <div class="logo_name">Steam</div>
        <i class='bx bx-menu' id="btn" ></i>
        <div class="friends-toggle">⮞</div>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" id="search" placeholder="Search by title">
          <div class="overlay" id="overlay">
            <div class="overlay-content" id="overlay-content">
                <!--hier komen plaatjes-->
            </div>
        </div>
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="../">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="{{ url_for('library') }}">
         <i class='bx bx-library' ></i>
         <span class="links_name">Games</span>
       </a>
       <span class="tooltip">Games</span>
     </li>
     <li>
       <a href="{{ url_for('sales') }}">
         <i class='bx bxs-discount'></i>
         <span class="links_name">Sales</span>
       </a>
       <span class="tooltip">Sales</span>
       <li class="profile">
        <div class="profile-details">
            <!-- Dynamic Profile Image -->
            <img src="{{ session['user_info'].get('avatar', 'static/profile.jpg') }}" alt="Profile Image">
            <div class="name_job">
                <!-- Dynamic Username -->
                <div class="name">{{ session['user_info'].get('personaname', 'Myguy24') }}</div>
                <div class="job">Online</div>
            </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
    </li>    
    </ul>
    </div>

    <section class="game-section">
      <!-- News Section -->
      <div class="text">{{ games[0] }}</div>
      <div class="news-grid">
        <div class="screenshot-item">
          <img src="{{ games[1] }}" alt="Screenshot 1">
      </div>
          <article class="news-item">
              <h3>Description</h3>
              <p>{{ games[2] }}</p>
          </article>
          <article class="news-item">
              <h3>Release Date</h3>
              <p>{{ games[3] }}</p>
          </article>
        <article class="news-item">
          <h3>Developer</h3>
          <p>{{ games[5] }}</p>
        </article>
        <article class="news-item">
          <h3>Platforms</h3> <!-- 10: windows 11: mac 12: linux -->
          <p>
            {% if games[9] %}Windows{% endif %}
            {% if games[10] %}{% if games[9] %}, {% endif %}Mac{% endif %}
            {% if games[11] %}{% if games[9] or games[10] %}, {% endif %}Linux{% endif %}
        </p>
        </article>
        <article class="news-item">
          <h3>System requirements</h3>
          <p>{{ games[6] }}</p>
        </article>
        <article class="news-item">
          <h3>Price</h3>
          <p>{{ 'Free' if games[4] is none else games[4] }}
          </p>
        </article>
        <article class="news-item">
          <h3>Steam</h3>
          <a href="{{games[13]}}">{{games[13]}}</a>
        </article>
        


      <!-- news Information Section -->
      <div class="game-tab" id="game-tab">

          <div class="game-tab-text">
              <h4>Title news</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="game-tab-text">
            <h4>Title news</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="game-tab-text">
          <h4>Title news</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="game-tab-text">
        <h4>Title news</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
      </div>
  
      <!-- Screenshots Section -->
      <div class="game-screenshots">
          <div class="text">Screenshots</div>
          <div class="screenshots-grid">
            {% for screenshot in games[12] %}
              <div class="screenshot-item">
                  <img src="{{ screenshot }}" alt="Screenshot 1">
              </div>
            {%endfor%}
          </div>
      </div>
  </section>

    <script> //sidebar functie met anim
        let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
  
    closeBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("open");
      menuBtnChange();
    });
  
    searchBtn.addEventListener("click", ()=>{ 
      sidebar.classList.toggle("open");
      menuBtnChange(); 
    });
  
   
    function menuBtnChange() {
     if(sidebar.classList.contains("open")){
       closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
     }else {
       closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//
     }
    }
    </script>
    <script src="/static/togglemenu.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
          $(document).ready(function(){
              $('#search').on('input', function(){
                  let query = $(this).val().trim(); // Trim leading/trailing spaces
                  
                  if (query !== '') {
                      $.ajax({
                          type: 'POST',
                          url: '/search',
                          data: {'search': query},
                          success: function(response) {
                              $('#overlay').show();
                              $('#overlay-content').html(response);
                          }
                      });
                  } else {
                      $('#overlay').hide(); // Hide the overlay when query is empty
                  }
              });
          });
      </script>

      <script src="Scripts\getGameFromDatabase.py"></script>
      <script src="static\togglemenu.js"></script>

      
  