<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>SteamDeck2.0</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">
                <img src="{{ url_for('static', filename='/resources/logo.png') }}" alt="Logo" id="logo-img">
            </label>
            <div class="user-profile dropdown" onclick="toggleMenu()">
                <img src="{{ url_for('static', filename='/resources/profile.jpg') }}" alt="Profile Picture">
                <p class="name">Username</p>
                <div class="arrow"></div>
                <div class="dropdown-content">
                  <a href="login.php">Login</a>
                  <a href="https://store.steampowered.com/join">Sign Up</a>
                </div>
            </div>
            <ul>
                <li><a class="active" href="/templates/index.html">Home</a></li>
                <li><a href="/templates/games.html">Games</a></li>
                <li><a href="/templates/friends.html">Friends</a></li>
                <li><a href="/templates/aa.html">AA</a></li>
            </ul>
            <span id="clock"></span>
        </nav>
        <section> 
            <!-- vrienden ding hier -->
        </section>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>