<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>SteamDeck</title>
    <link rel="stylesheet" href="static\style.css">
    <!-- Boxicons voor iconen -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-steam' ></i>
        <div class="logo_name">Steam</div>
        <i class='bx bx-menu' id="btn" ></i>
        <div class="friends-toggle">⮞</div>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" id="search" placeholder="Search by title">
          <div class="overlay" id="overlay">
            <div class="overlay-content" id="overlay-content">
                <!--hier komen plaatjes-->
            </div>
        </div>
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <li class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="library">
         <i class='bx bx-library' ></i>
         <span class="links_name">Library</span>
       </a>
       <span class="tooltip">Library</span>
     </li>
     <li>
       <a href="sales">
         <i class='bx bxs-discount'></i>
         <span class="links_name">Sales</span>
       </a>
       <span class="tooltip">Sales</span>
       <li class="profile">
        <div class="profile-details">
            <!-- Dynamic Profile Image -->
            <img src="{{ session['user_info'].get('avatar', 'static/profile.jpg') }}" alt="Profile Image">
            <div class="name_job">
                <!-- Dynamic Username -->
                <div class="name">{{ session['user_info'].get('personaname', 'Myguy24') }}</div>
                <div class="job">Online</div>
            </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
    </li>    
    </ul>
    </div>
    <section class="home-section">
      <div class="text">Popular between friends</div>
      <section class="raster-container">
        <!-- description wordt nu niet gebruikt -->
        <div class="image-container">
          <img src="https://www.datocms-assets.com/56706/1701878796-gta-6.png?auto=format&fit=max&w=1200" alt="Image Description 1">
          <div class="image-title">Sample Text</div>
          <div class="image-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      
        <div class="image-container">
          <img src="https://www.datocms-assets.com/56706/1701878796-gta-6.png?auto=format&fit=max&w=1200" alt="Image Description 2">
          <div class="image-title">Sample Text</div>
          <div class="image-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
        </div>

        <div class="image-container">
          <img src="https://www.datocms-assets.com/56706/1701878796-gta-6.png?auto=format&fit=max&w=1200" alt="Image Description 1">
          <div class="image-title">Sample Text</div>
          <div class="image-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>

        <div class="image-container">
          <img src="https://www.datocms-assets.com/56706/1701878796-gta-6.png?auto=format&fit=max&w=1200" alt="Image Description 1">
          <div class="image-title">Sample Text</div>
          <div class="image-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>

        <div class="image-container">
          <img src="https://www.datocms-assets.com/56706/1701878796-gta-6.png?auto=format&fit=max&w=1200" alt="Image Description 1">
          <div class="image-title">Sample Text</div>
          <div class="image-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>

        <div class="image-container">
          <img src="https://www.datocms-assets.com/56706/1701878796-gta-6.png?auto=format&fit=max&w=1200" alt="Image Description 1">
          <div class="image-title">Sample Text</div>
          <div class="image-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <section class="home-section">
        <div class="text">Predicted Popular Games</div>
        {% for chart in chart_data %}
        <div class="content-container">
          <div class="image-container-predict">
            <img src="{{chart[2]}}" alt="Game Image">           <!--{{ chart[2] }}-->
            <div class="image-title">{{ chart[1] }}</div>
            <div class="image-description">Short description of the game.</div>
          </div>
          <div class="graph-container">
            <canvas id="myChart{{ loop.index0 }}" width="300" height="300"></canvas>
            <script>
                const ctx{{ loop.index0 }} = document.getElementById('myChart{{ loop.index0 }}').getContext('2d');
                new Chart(ctx{{ loop.index0 }}, {
                    type: 'line',
                    data: {
                        labels: {{ chart[0][0] | tojson | safe }}, 
                        datasets: [{
                          label: {{ chart[1] | tojson | safe }},
                          data: {{ chart[0][1] | tojson | safe }},
                          fill: false,
                          borderColor: 'rgb(75, 192, 192)',
                          tension: 0.1
                      }, {
                          label: {% if chart[0][3] < 0 %}'Expected Fall'{% else %}'Expected Rise'{% endif %},
                          data: {{ chart[0][2] | tojson | safe }},
                          fill: false,
                          borderColor: {% if chart[0][3] < 0 %}'rgb(255, 0, 0)'{% else %}'rgb(0, 255, 0)'{% endif %},
                          tension: 0.1
                      }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                    }
                });
            </script>
          </div>
        </div>
        {% endfor %}
      </section>
      
    </section>
    <div class="friends-section">
      <div class="friends-title">Friends</div>
    
      <!-- Online Friends Group -->
      <div class="friends-group">
        <div class="friends-group-title">
          <span>{{ online_friends|length if online_friends else '0' }} Online</span>
          <i class='bx bx-chevron-down'></i>
        </div>
        <div class="friends-list" style="display: none;">
          {% for friend in online_friends %}
          <div class="friend">
            <img src="{{ friend['avatar'] }}" alt="{{ friend['name'] }}">
            <div class="friend-info">
              <div class="friend-name">{{ friend['name'] }}</div>
              <div class="friend-status">{{ friend['gameextrainfo'] or 'Idle' }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    
      <!-- Offline Friends Group -->
      <div class="friends-group">
        <div class="friends-group-title">
          <span>{{ offline_friends|length if offline_friends else '0' }} Offline</span>
          <i class='bx bx-chevron-down'></i>
        </div>
        <div class="friends-list" style="display: none;">
          {% for friend in offline_friends %}
          <div class="friend">
            <img src="{{ friend['avatar'] }}" alt="{{ friend['name'] }}">
            <div class="friend-info">
              <div class="friend-name">{{ friend['name'] }}</div>
              <div class="friend-status">Offline</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    
      
      
       
    <script> //sidebar functie met anim
      let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();
  });

  searchBtn.addEventListener("click", ()=>{ 
    sidebar.classList.toggle("open");
    menuBtnChange(); 
  });

 
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//
   }
  }
  </script>
  <script src="/static/togglemenu.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#search').on('input', function(){
                let query = $(this).val().trim(); // Trim leading/trailing spaces
                
                if (query !== '') {
                    $.ajax({
                        type: 'POST',
                        url: '/search',
                        data: {'search': query},
                        success: function(response) {
                            $('#overlay').show();
                            $('#overlay-content').html(response);
                        }
                    });
                } else {
                    $('#overlay').hide(); // Hide the overlay when query is empty
                }
            });
        });
    </script>
    
