<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SteamDeck</title>
        <link rel="stylesheet" href="static\style.css">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
       </head>
    <title>Login with Steam</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-container">
        <h2>Login with Steam</h2>
        <a href="/auth/steam" class="steam-login-button">
            <img src="static/steam_login.png" alt="Login with Steam">
        </a>
    </div>
</body>
</html>
